@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  background: #F3F3F3; }

.text {
  color: #565252;
  font-family: "Roboto", sans-serif; }

.text-11 {
  font-size: 11px;
}

.text-12 {
  font-size: 12px; }

.text-14 {
  font-size: 14px; }

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px; }

.text-18 {
  font-size: 18px; }

.text-19 {
  font-size: 19px; }

.text-20 {
  font-size: 20px; }

.text-21 {
  font-size: 21px; }

.text-24 {
  font-size: 24px; }

.text-center {
  text-align: center; }

a {
  text-decoration: none; }

a:active, a:focus {
  outline: none; }

input,
textarea,
button {
  outline: none; }

button:active, button:focus {
  outline: none; }

button::-moz-focus-inner {
  border: 0; }

input:active,
textarea:active,
button:active {
  outline: none; }

.site-header {
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background: #565252;
<<<<<<< HEAD
  border-bottom: 1px solid #494747; }
  .site-header div {
    width: max-content; }
  .site-header .notification-list {
    position: fixed;
    padding: 15px;
    background-color: #F9F9F9;
    width: 400px;
    height: 100%;
    top: 0px;
    left: 0px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25)); }
    .site-header .notification-list .no-notifications {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      .site-header .notification-list .no-notifications svg {
        width: 75%; }
      .site-header .notification-list .no-notifications svg path {
        fill: #565252 !important; }
    .site-header .notification-list .text {
      margin-top: 40px;
      font-weight: 200; }
=======
  border-bottom: 1px solid #494747;
}
.site-header div {
  width: max-content;
}
>>>>>>> dmitry

.profile-button {
  cursor: pointer;
  background: #F9F9F9;
  border: 0.3px solid #383838;
  border-radius: 13px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .profile-button div {
    margin: auto;
    height: fit-content; }
  .profile-button .icon {
    margin-left: 8px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .profile-button .profile-name {
    margin-right: 8px;
    font-weight: 500; }
  .profile-button .separator-profile {
    border-left: 1px solid #A7A7A7;
    height: 34px; }
    .profile-button .separator-profile svg {
      margin: 12px 9px 0 6px; }
  .profile-button:hover .separator-profile svg {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: .5s; }
  .profile-button .list-under {
    min-width: 270px;
    right: 0px;
    border-radius: 5px 0px 5px 5px; }
    .profile-button .list-under .text {
      font-weight: 500; }
    .profile-button .list-under .element {
      margin-left: 11px; }
      .profile-button .list-under .element svg {
        margin-right: 10px; }
    .profile-button .list-under li:first-child {
      cursor: default; }
    .profile-button .list-under li:first-child,
    .profile-button .list-under li:last-child {
      display: block;
      margin-bottom: 7px; }
    .profile-button .list-under li:last-child {
      display: flex;
      justify-content: center;
      align-items: center; }
    .profile-button .list-under .info-about-account {
      cursor: default; }
      .profile-button .list-under .info-about-account div {
        margin: 0px !important; }
        .profile-button .list-under .info-about-account div .profile-mail {
          font-weight: 200; }

.left-header,
.right-header {
  display: flex;
  align-items: center;
  height: 100%; }

.control-panel {
  border-left: 1px solid #A7A7A7;
  border-right: 1px solid #A7A7A7;
  height: 34px;
  margin-left: 48px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; }
  .control-panel a {
    margin-right: 10px;
    width: fit-content; }

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content; }
  .header-menu a {
    color: #f9f9f9;
    text-decoration: none;
    height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-left: 1px solid #A7A7A7; }
    .header-menu a:hover {
      color: #F9F9F9;
      text-decoration: underline; }
    .header-menu a.active {
      text-decoration: underline; }
    .header-menu a:first-child {
      border-left: none; }

.project-list-button {
  cursor: pointer;
  background: #F9F9F9;
  border: 0.3px solid #383838;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-left: 18px;
}
.project-list-button div {
  margin: auto;
  height: fit-content;
}
.project-list-button .icon {
  margin-left: 8px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-list-button .text {
  margin-right: 11px;
}
.project-list-button .list-under {
  min-width: 400px;
  left: 0px;
  border-radius: 0px 5px 5px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-list-button .list-under li {
  width: 100%;
}
.project-list-button .list-under .search {
  margin: 8px 0;
  margin-bottom: 4px;
}
.project-list-button .list-under .search div {
  margin: 0;
}
.project-list-button .list-under .search .header-project-search {
  height: 32px;
  margin-left: 8px;
  background: #F9F9F9;
  font-weight: 500;
  border: none;
  padding-left: 8px;
  color: #565252;
  width: 100%;
  margin-right: 0px;
}
.project-list-button .list-under .search .header-project-search::-moz-placeholder {
  color: #56525260;
}
.project-list-button .list-under .search .header-project-search::-webkit-input-placeholder {
  color: #56525260;
}
.project-list-button .list-under .search .header-project-search:focus {
  height: 30px;
  background: white;
  border: 1px solid #56525260;
  border-radius: 3px;
  padding-left: 7px;
}
.project-list-button .list-under .search .header-project-search:focus::-moz-placeholder {
  color: white;
}
.project-list-button .list-under .search .header-project-search:focus::-webkit-input-placeholder {
  color: white;
}
.project-list-button .list-under .header-search-icon {
  border-right: 1px solid #A7A7A7;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.project-list-button .list-under #project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.project-list-button .list-under .project-item {
  background-color: white;
  height: 66px;
  width: 100%;
  border: solid #56525240;
  border-width: 0.1px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin: 8px 0;
}
.project-list-button .list-under .project-item:first-child {
  margin: 0;
}
.project-list-button .list-under .project-item:last-child {
  margin-bottom: 0;
}
.project-list-button .list-under .project-item div {
  width: fit-content;
  margin: 0;
}
.project-list-button .list-under .project-item .project-icon {
  width: 57px;
  height: 57px;
  border: 1px dashed #00000020;
  border-radius: 0px 20px 20px 0px;
  margin-left: 5px;
  background: #F9F9F9;
  margin-right: 15px;
}
.project-list-button .list-under .project-item .project-list-content div {
  margin-left: 4px;
  margin-top: 10px;
}
.project-list-button .list-under .project-item .project-list-content .project-type-list {
  margin-top: 10px;
}
.project-list-button .list-under hr {
  margin-top: 15px;
  margin-bottom: 3px;
}

.list {
  position: relative;
  z-index: 5; }
  .list:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .list:hover .list-under {
      display: block;
      z-index: 4; }

.project-list-button:hover .list-under {
  display: flex; }

.list-under {
  display: none;
  position: absolute;
  top: 100%;
  background: inherit;
  cursor: default;
  padding: 9px 12px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25)); }
  .list-under li {
    text-decoration: none;
    list-style: none;
    margin: 13px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer; }
  .list-under hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #A7A7A7; }

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F9F9F9;
  border: 0.2px solid #565252;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: -1px;
  bottom: 0px;
  background-color: #65C8F3;
  border: 0.2px solid #565252;
  -webkit-transition: .4s;
  transition: .4s; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px); }

.slider.round {
  border-radius: 50px; }

.slider.round:before {
  border-radius: 50%; }

.switcher {
  justify-content: space-between; }

#log-page-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f8fc; }

.sign-form {
  width: 50%;
  background-color: #ffffff;
  padding: 40px 70px;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.25); }
  .sign-form * {
    font-family: "Roboto", sans-serif; }

#form-header {
  display: flex;
  justify-content: space-between;
  color: #565252; }
  #form-header h1 {
    font-size: 48pt; }
  #form-header .site-logo svg {
    width: 250px;
    height: 90px; }

.log-form-wrapper {
  display: flex;
  justify-content: space-between; }
  .log-form-wrapper .log-form-side-block {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .log-form-wrapper .log-form-side-block #register-form, .log-form-wrapper .log-form-side-block #login-form {
      display: flex;
      flex-direction: column; }
      .log-form-wrapper .log-form-side-block #register-form .input-block, .log-form-wrapper .log-form-side-block #login-form .input-block {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #565252;
        width: 65%;
        margin: 30px 0px; }
        .log-form-wrapper .log-form-side-block #register-form .input-block input, .log-form-wrapper .log-form-side-block #login-form .input-block input {
          font-size: 16pt;
          border: 0;
          width: 90%;
          background-color: inherit;
          margin-left: 5px; }
      .log-form-wrapper .log-form-side-block #register-form #signup-btn, .log-form-wrapper .log-form-side-block #login-form #signup-btn {
        width: 40%;
        padding: 20px;
        background-color: #65c8f3;
        border-radius: 15px;
        border: 1px solid #0D78B4;
        color: #f9f9f9;
        font-size: 18pt;
        margin-top: 15px; }
      .log-form-wrapper .log-form-side-block #register-form .error-msg, .log-form-wrapper .log-form-side-block #login-form .error-msg {
        font-size: 9pt;
        color: red;
        margin-top: -20px; }
    .log-form-wrapper .log-form-side-block #alt-login {
      font-size: 12pt;
      margin-top: 20px;
      display: flex;
      align-items: center; }
  .log-form-wrapper .log-image-side-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center; }
    .log-form-wrapper .log-image-side-block img {
      width: 80%; }
    .log-form-wrapper .log-image-side-block .next-sign-form {
      text-align: center; }
      .log-form-wrapper .log-image-side-block .next-sign-form a {
        font-size: 14pt;
        text-decoration: underline;
        color: #565252; }
        .log-form-wrapper .log-image-side-block .next-sign-form a:hover {
          font-size: 15pt; }

#signin-form #login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
#signin-form #alt-login {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#remember-block {
  display: flex;
  align-items: center;
  width: 65%;
  margin: 30px 0px;
  /* стили для метки */
  /**
   * Create the checkbox state for the tick
   */ }
  #remember-block span {
    margin-left: 25px; }
  #remember-block input[type="checkbox"] {
    visibility: hidden; }
  #remember-block .checkbox-block {
    position: relative; }
  #remember-block label {
    cursor: pointer;
    position: absolute;
    width: 23px;
    height: 23px;
    top: -3px;
    left: 0;
    background: inherit;
    border: 2px solid #565252;
    border-radius: 7px; }
  #remember-block .checkbox-block label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg); }
  #remember-block .checkbox-block label:hover::after {
    opacity: 0.5; }
  #remember-block .checkbox-block input[type=checkbox]:checked + label:after {
    opacity: 1; }

.modal-of {
  position: fixed;
  top: 0;
  left: 0;
  background: #C4C4C466;
  width: 100% !important;
  height: 100vh;
  z-index: 100;
  transition: 1s;
  opacity: 1;
  display: none;
}
.modal-of.modal-of-center {
  justify-content: center;
  align-items: center;
}
.modal-of .modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: 1s;
  background-color: #fbfbfb;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
  padding: 8px 24px;
  width: 920px;
  min-height: 750px;
  max-height: 800px;
  border-radius: 4px;
}
.modal-of .modal .modal-header {
  height: 38px;
  border-bottom: 1px solid #a7a7a738;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal-of .modal .modal-header .title-header {
  transition: 1s;
}
.modal-of .modal .modal-header .x-close {
  position: absolute;
  right: 24px;
  top: 10px;
  padding: 8px 15px;
  font-size: 25px;
  font-weight: 300 !important;
  line-height: 0;
  border-left: 1px solid #a7a7a738;
  transition: 1s;
}
.modal-of .modal .modal-header .x-close:hover svg path {
  fill: #989191;
}
.modal-of .modal .modal-header,
.modal-of .modal .modal-header .text {
  font-weight: 600;
  margin: 0;
}
.modal-of .modal .modal-body {
  width: 100%;
  min-height: 690px;
  max-height: 740px;
  transition: 0.5s;
  padding: 5px 0 15px 0;
  display: grid;
  grid-template-columns: calc(100% - 340px) 340px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.modal-of .modal .modal-body .click-input-delete {
  margin-bottom: 5px;
}
.modal-of .modal .modal-body .click-input-delete label {
  font-family: "Roboto", sans-serif;
  color: #565252;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.modal-of .modal .modal-body .click-input-delete label svg {
  margin-right: 5px;
}
.modal-of .modal .modal-body .click-input-delete:last-child {
  margin-bottom: 0;
}
.modal-of .modal .modal-body .block-link-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #565252;
}
.modal-of .modal .modal-body .block-link-add label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.modal-of .modal .modal-body .block-link-add label svg {
  margin-right: 0px;
}
.modal-of .modal .modal-body .block-link-add label::after {
  content: "-";
  margin-left: 8px;
}
.modal-of .modal .modal-body .block-link-add input {
  background: #fbfbfb;
  font-weight: 500;
  border: none;
  width: max-content;
  color: #565252;
  margin-right: 12px;
  padding-left: 6px;
  margin-left: 3px;
}
.modal-of .modal .modal-body .block-link-add input.text-title-modal {
  letter-spacing: 0.1em;
  white-space: nowrap;
}
.modal-of .modal .modal-body .block-link-add input::-moz-placeholder {
  color: #56525260;
}
.modal-of .modal .modal-body .block-link-add input::-webkit-input-placeholder {
  color: #56525260;
}
.modal-of .modal .modal-body .block-link-add input:focus {
  background: white;
  border: 1px solid #a7a7a738;
  border-radius: 3px;
  padding-left: 5px;
}
.modal-of .modal .modal-body .block-link-add input:focus::-moz-placeholder {
  color: white;
}
.modal-of .modal .modal-body .block-link-add input:focus::-webkit-input-placeholder {
  color: white;
}
.modal-of .modal .modal-body .block-link-add input.input-readonly:focus {
  border: none;
  background: #F9F9F9;
  padding-left: 6px;
}
.modal-of .modal .modal-body .modal-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 740px;
}
.modal-of .modal .modal-body .modal-column .modal-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 18px;
  width: 100%;
}
.modal-of .modal .modal-body .modal-column .modal-row .modal-icon-row {
  padding: 2px;
  padding-right: 10px;
  height: 32px;
}
.modal-of .modal .modal-body .modal-column .modal-row .modal-icon-row label {
  height: auto;
  display: flex;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid #a7a7a738;
  padding-left: 10px;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .title-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  width: 100%;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .title-block .text-title-modal {
  font-weight: 500;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .title-block hr {
  height: 1px;
  width: 100%;
  border: none;
  background: #a7a7a738;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side input {
  width: 100%;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .input-iteractive {
  background: #F9F9F9;
  font-weight: 500;
  border: none;
  width: max-content;
  color: #565252;
  margin-right: 12px;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .input-iteractive.text-title-modal {
  letter-spacing: 0.1em;
  white-space: nowrap;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .input-iteractive::-moz-placeholder {
  color: #56525260;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .input-iteractive::-webkit-input-placeholder {
  color: #56525260;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .input-iteractive:focus {
  padding-left: 8px;
  height: 30px;
  background: white;
  border: 1px solid #a7a7a738;
  border-radius: 3px;
  padding-left: 7px;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .input-iteractive:focus::-moz-placeholder {
  color: white;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side .input-iteractive:focus::-webkit-input-placeholder {
  color: white;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side textarea {
  border-radius: 3px;
  border: none;
  resize: none;
  padding: 8px 11px;
  background: none;
  width: calc(100% - 32px);
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side textarea::-moz-placeholder {
  color: #56525260;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side textarea::-webkit-input-placeholder {
  color: #56525260;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side textarea:focus {
  padding-left: 8px;
  background: white;
  border: 1px solid #a7a7a738;
  border-radius: 3px;
  padding: 7px 11px;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side textarea:focus::-moz-placeholder {
  color: white;
}
.modal-of .modal .modal-body .modal-column .modal-row .row-right-side textarea:focus::-webkit-input-placeholder {
  color: white;
}
.modal-of .modal .modal-body .modal-right-column {
  padding-left: 12px;
  border-left: 1px solid #a7a7a738;
  height: 100%;
  margin-left: 12px;
  justify-content: space-between;
}
.modal-of .modal .modal-body .modal-right-column .block-right-col {
  width: 200px;
}
.modal-of .modal .modal-body .modal-right-column .block-right-col .select2 {
  width: 100% !important;
}
.modal-of .modal .modal-body .modal-right-column .modal-right-bottom .block-button-modal button {
  background: #65C8F3;
  border-radius: 4px;
  border: none;
  width: 130px;
  height: 36px;
  font-weight: bold;
  color: white;
}
.modal-of .modal .modal-body .modal-right-column .modal-right-bottom .block-notification {
  margin-bottom: 15px;
}
.modal-of .modal .modal-body .modal-right-column .block-notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.modal-of .modal .modal-body .modal-right-column .block-notification b {
  font-weight: 100;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-left {
  margin-left: 2px;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-left .block-title-i {
  position: relative;
  margin-top: 4px;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-left .block-title-i:hover::after {
  content: attr(data-title);
  /* Выводим текст */
  position: absolute;
  /* Абсолютное позиционирование */
  left: 50%;
  top: 50%;
  /* Положение подсказки */
  z-index: 3;
  /* Отображаем подсказку поверх других элементов */
  background: rgba(255, 255, 255, 0.8);
  /* Полупрозрачный цвет фона */
  font-family: Arial, sans-serif;
  /* Гарнитура шрифта */
  font-size: 11px;
  /* Размер текста подсказки */
  padding: 5px 10px;
  /* Поля */
  border: 1px solid #333;
  /* Параметры рамки */
  min-width: 100px;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-left input {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 7px !important;
  margin: auto;
  border: 1px solid #56525240 !important;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-left input:checked > body {
  background: black;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-left input:checked {
  content: "✔";
  background-color: white;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right {
  margin-left: 8px;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right input {
  height: 25px;
  margin-left: 0;
  background: #F9F9F9;
  font-weight: 500;
  border: 1px solid #fbfbfb;
  padding: 0 1px 0 1px;
  color: #565252;
  margin-right: 0px;
  text-align: center;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right input::-webkit-outer-spin-button, .modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right input::-moz-placeholder {
  color: #56525260;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right input::-webkit-input-placeholder {
  color: #56525260;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right input:focus {
  background: white;
  border: 1px solid #56525260;
  border-radius: 3px;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right input:focus::-moz-placeholder {
  color: white;
}
.modal-of .modal .modal-body .modal-right-column .block-notification .block-notification-right input:focus::-webkit-input-placeholder {
  color: white;
}
.modal-of .modal .modal-notification {
  display: flex;
  max-height: none;
  min-height: calc(100vh - 75px);
}
.modal-of .notification-list {
  position: fixed;
  width: 400px;
  max-height: 100vh;
  top: 0px;
  left: 0px;
  height: 100%;
}
.modal-of .notification-list .no-notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.modal-of .notification-list .no-notifications svg {
  width: 75%;
}
.modal-of .notification-list .no-notifications svg path {
  fill: #565252 !important;
}
.modal-of .notification-list .text {
  margin-top: 40px;
  font-weight: 200;
}

.select2 {
  font-family: "Roboto", sans-serif !important;
}

.select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-search__field {
  border: 1px solid #a7a7a738 !important;
}

.select2-search__field,
.select2-results__option {
  color: #565252 !important;
  font-family: "Roboto", sans-serif;
}

.select2-results__option {
  color: #565252 !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: white;
  background: #a7a7a738 !important;
  font-family: "Roboto", sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #565252 !important;
}

.modal-of-show {
  display: flex;
  visibility: visible;
  transition: .55s opacity, .55s visibility;
  opacity: 1; }

.calendar__input {
  display: none;
}

.calendar__marks {
  padding: 15px 0;
}

.calendar__mark {
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
  position: relative;
  margin-right: 10px;
}

.calendar__mark:before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
}

.calendar__mark--available:before {
  background-color: #4fb6f5;
}

.calendar__mark--full:before {
  background-color: #feb900;
}

.calendar__days {
  padding: 15px 0;
}

.flatpickr-calendar {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #a7a7a738 !important;
}

.flatpickr-weekdays {
  border-top: 1px solid #a7a7a738 !important;
}

.flatpickr-weekdays {
  color: #565252 !important;
  font-family: "Roboto", sans-serif !important;
}

.flatpickr-current-month {
  color: #565252 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px !important;
}

.flatpickr-day {
  color: #565252 !important;
  font-family: "Roboto", sans-serif !important;
  height: 30px !important;
  line-height: 30px !important;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #65C8F3 !important;
  border-color: #65C8F3 !important;
}

.flatpickr-weekday {
  border-right: 1px solid #a7a7a738;
}
.flatpickr-weekday:last-child {
  border-right: none;
}

/*# sourceMappingURL=main.css.map */
