// colors

$main-dark: #565252;
$main-ligth: #F9F9F9;
$main-ligth-50: #F9F9F950;
$fill-dark: #565252;
$fill-light: #F9F9F9;
$background-light: #EDEDED;
$box-shadow-color: #494747;
$border-dark: #383838;
$main-blue: #65C8F3;
$main-blue-90: rgb(101, 200, 243, 0.9);
$main-red: #FF1F1F;
$main-red-99: #ff0000d5;
$point-unread: #f44646;
$border-notification: #bdbdbd36;
$unread-notification: #d5d5d5;

$office-line: rgba(86, 82, 82, 0.38);

$white-85: rgba(255, 255, 255, 0.80);

$main-dark-10: #56525210;
$main-dark-20: #56525220;
$main-dark-40: #56525240;
$main-dark-60: #56525260;
$main-dark-80: #56525280;
$border-card-color: #E4E4E4;

$line-light: #A7A7A7;
$white: white;

$modal-background-modal: #fbfbfb;
$modal-background: #C4C4C466;
$modal-line: #a7a7a738;
// font style

$font-white: #f9f9f9;
$font-black: #565252;
$background-office: #f3f3f3;

$font-family: 'Roboto', sans-serif;
$background-office: #f3f3f3;

// status colors

$status-orange-background: rgba(254, 187, 125, 1);
$status-orange-color: rgba(215, 77, 0, 1);

$status-red-background: rgba(254, 125, 125, 1);
$status-red-color: rgba(171, 0, 0, 1);

$status-green-background: rgba(60, 233, 0, 0.5);
$status-green-color: rgba(0, 90, 42, 1);