// colors

$main-dark: #565252;
$main-ligth: #F9F9F9;
$fill-dark: #565252;
$fill-light: #F9F9F9;
$background-light: #F3F3F3;
$box-shadow-color: #494747;
$border-dark: #383838;
$main-blue: #65C8F3;
$white-85: rgba(255, 255, 255, 0.80);
    
$main-dark-40: #56525240;
$main-dark-60: #56525260;
$border-card-color: #E4E4E4;

$line-light: #A7A7A7;
$white: white;

$modal-background-modal: #fbfbfb;
$modal-background: #C4C4C466;
$modal-line: #a7a7a738;
// font style

$font-white: #f9f9f9;
$font-black: #565252;

$font-family: 'Roboto', sans-serif;

