.site-header {
    width: auto;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between;
    padding: 0px 30px;

    background: $main-dark;
    border-bottom: 1px solid $box-shadow-color;   



    div {
        width: max-content;
        height: 38px;
    }
}

.control-panel 
.site-logo 
.project-list-button {
    left: 0;
}

.profile-button {
    right: 0;
}

.profile-button {
    background: #F9F9F9;
    border: 0.3px solid #383838;
    border-radius: 13px;
}